@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: hidden;
    font-family: "Rajdhani", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.landingimg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("landing.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.shadowed {

    box-shadow: rgba(200, 192, 192, 0.35) 0px 5px 15px;
}

html {
    scroll-behavior: smooth;
}